<div class="sb-mb-4 sb-mt-4 sb-flex sb-justify-center sb-items-center sb-gap-2 sb-text-center">
    <div class="sb-flex sb-grow sb-justify-center sb-items-center sb-border-info-50 sb-border-b-2 sb-border-solid">
        
    </div>
    <div class="
    {% if bg_color %}
    sb-bg-{{ bg_color }}
    {% endif %}
    sb-flex sb-grow sb-justify-center sb-items-center 
    sb-border-info-50 
    sb-border-b-2 sb-border-solid">
    <span class="
    {% if text_color %}
    sb-{{ text_color }}
    {% endif %}
    ">{{ content|safe }}</span>
    </div>
    <div class="sb-flex sb-grow sb-justify-center sb-items-center sb-border-info-50 sb-border-b-2 sb-border-solid">
        
    </div>
</div>