asgiref==3.8.1
click==8.1.7
colorama==0.4.6
cssbeautifier==1.15.1
Django==5.1b1
django-spellbook==0.1.13b6
djlint==1.36.1
EditorConfig==0.12.4
gunicorn==23.0.0
jsbeautifier==1.15.1
json5==0.9.28
Markdown==3.7
packaging==24.2
pathspec==0.12.1
python-decouple==3.8
PyYAML==6.0.2
regex==2024.11.6
six==1.16.0
sqlparse==0.5.1
tomli==2.1.0
tqdm==4.67.0
typing_extensions==4.12.2
whitenoise==6.9.0