{% load spellbook_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% spellbook_styles %}
    </head>
    <body>
        <div class="spellbook-container">
            <div class="spellbook-layout">
                
                <main class="spellbook-content">
                    {% block spellbook_md %}{% endblock %}
                </main>
            </div>
        </div>
    </body>
</html>
