{% extends 'changelog/sb_base.html' %}

{% block spellbook_md %}
<p>Welcome to the Changelog of Django Spellbook!</p>
<p>Django Spellbook is a powerful toolkit for creating and managing markdown-based content in your Django projects. It's designed to be simple, flexible, and easy to use, with a focus on maintainability and extensibility.</p>
<p>This changelog serves as a record of all notable changes to Django Spellbook, including new features, bug fixes, and architectural improvements. It's a great resource for keeping track of what's new and what's changed in the latest version of the library.</p>
<div class="sb-accordion ">
    <button class="sb-accordion-toggle" aria-expanded="true" onclick="this.setAttribute('aria-expanded', this.getAttribute('aria-expanded') === 'true' ? 'false' : 'true');">
        <span class="sb-accordion-title">Changelog Navigation</span>
        <span class="sb-accordion-icon">
            <svg class="sb-icon-plus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
            <svg class="sb-icon-minus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
        </span>
    </button>
    <div class="sb-accordion-content" aria-hidden="false">
        <div class="sb-accordion-body">
            <ul>
<li><a href="/changelog/v0_1/13">v0.1.13</a> Released: May 11, 2025</li>
<li><a href="/changelog/v0_1/12">v0.1.12</a> Released: April 30, 2025</li>
<li><a href="/changelog/v0_1/11">v0.1.11</a> Released: April 19, 2025</li>
<li><a href="/changelog/v0_1/10">v0.1.10</a> Released: April 12, 2025</li>
</ul>
        </div>
    </div>
</div>

<h1>Contributing</h1>
<p>If you'd like to contribute to Django Spellbook, please check out the <a href="https://github.com/smattymatty/django_spellbook">GitHub repository</a> and submit pull requests or issues as needed.</p>
{% endblock %}