{% extends 'base/django_spellbook/bases/sidebar_left.html' %}

{% block spellbook_md %}
<h1>GoDaddy Hosting and Website Builder</h1>
<h2>Competitor Analysis</h2>
<p>( Describe GoDaddy Hosting / Website Builder)</p>
<p>( Describe how it compares to our company and its services. )</p>
<p>( unbiased and honest Pros vs. Cons of both companies, with comparisons in financials, values, and quality of product in mind )</p>
<h2>GoDaddy Website Builder</h2>
<h3>Feasible Features:</h3>
<div class="sb-card sb-border sb-border-radius-lg sb-shadow-sm sb-transition sb-mb-3 sb-bg-light ">

        <div class="sb-card-header sb-p-2 sb-bold">
            <h5 class="sb-card-title">Features we can realistically offer</h5>
        </div>

    <div class="sb-card-body sb-p-3">

    </div>

        <div class="sb-card-footer sb-p-2">
            Spellbook can do it better - and CHEAPER!
        </div>

</div>
{% endblock %}