<!-- docs/templates/examples/base.html -->
{% extends 'base/base.html' %}
{% load static %}
{% load spellbook_tags %}
{% block extra_style %}
    <link rel="stylesheet" href="{% static 'css/code_block.css' %}">
    <link rel="stylesheet" href="{% static 'css/docs.css' %}">
    <link rel="stylesheet" href="{% static 'highlight/styles/default.min.css' %}">
    <script src="{% static 'highlight/highlight.min.js' %}"></script>
    <script>hljs.highlightAll();</script>
    {% spellbook_styles %}
{% endblock %}
{% block content %}
    <div class="docs-container">
        <aside class="sidebar">
            <div class="grimoire">
                <h3>Examples</h3>
                {% sidebar_toc %}
            </div>
            {% show_metadata %}
            {% if user.is_authenticated and user.is_staff %}
                {% show_metadata 'for_dev' %}
            {% endif %}
        </aside>
        <div class="sb-ml-4 changelog-content">
            {% block examples_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
