/* home/static/css/home.css */
.spell-list {
  list-style-type: none;
  padding: 0;
  transition: all 0.3s ease;
}
.spell-list li {
  padding: 10px;
  background-color: #e6d8c0;
  transition: transform 0.3s ease;
  transition: all 0.3s ease;
}
.spell-title {
  font-weight: bold;
  color: #4a2500;
  font-size: 1rem;
  padding: 0.4rem 1.2rem;
  background-color: #f2e8c9;
  border-radius: 5px;
  text-decoration: none;
  font-family: monospace;
  transition: all 0.3s ease;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8b4513;
  color: #f0e6d2;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.cta-button:hover {
  background-color: #a0522d;
}

.padded-x-content {
  transition: all 0.3s ease;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 1024px) {
  .padded-x-content {
    padding: 10px;
    max-width: 100%;
  }
  
}

@media (max-width: 768px) {
  .padded-x-content {
    padding: 5px;
    max-width: 100%;
  }
}

.spell-card span {
  position: relative;
  z-index: 2;
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.spell-card:hover span {
  transform: scale(1.1);
}
.spell-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.spell-content {
  transition: all 0.3s ease;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #d4cfc6af;
  border-right: 0.2rem solid #101a1b4d;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}

.spell-content:hover {
  background-color: #6ae9ff7a;
  padding: 0.6rem;
}

.spell-content:hover .spell-title {
  background-color: #6ae9ff00;
  padding: 0.6rem 0.6rem !important;
  font-size: 1.1rem;
}

.spell-content:hover ul li {
  background-color: #6ae9ff00;
  opacity: 0.9;
  margin-left: -0.3rem !important;
}

.spell-content:hover ul {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0);
}

.spell-content:hover .border-radius-5-handler {
  border-right: 0.2rem solid #6ae9ff00;
}

.spell-content ul {
  list-style-type: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 0rem !important;
}

.spell-content ul li {
  padding-left: 3.08rem !important;
}

.border-radius-5-handler li:first-child {
  border-top-right-radius: 5px;
}
.border-radius-5-handler li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.border-radius-5-handler {
  transition: all 0.3s ease;
  border-right: 0.2rem solid rgba(0, 0, 0, 0.333);
}

.spell-icon {
  font-size: 1rem;
  transition: all 0.3s ease;
}

.spell-content:hover .spell-icon {
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  opacity: 0.9;
  transition: all 0.3s ease;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  opacity: 1;
}

.home-pre {
  background-color: #22201cea;
  border-left: 0.2rem solid #c4baa7;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  color: #f0e6d2;
  width: fit-content;
  padding: 0.5rem 1rem;
}

.home-code pre {
  padding: 0.5rem 2rem;
  background-color: #22201cea;
  border-left: 0.2rem solid #c4baa7;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  color: #f0e6d2;
  width: auto;
  overflow-x: scroll;
}
