<!-- core/templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}Django-Spellbook{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        {% block extra_style %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="header-content">
                <h1 class="website-title"><a href="{% url 'base:home' %}">Django-Spellbook</a></h1>
                <nav>
                    <ul>
                        <li><a href="{% url 'base:home' %}">Home</a></li>
                        <li><a href="{% url 'docs:home' %}">Docs</a></li>
                        <li><a href="#">Examples</a></li>
                        <li><a href="#">Download</a></li>
                        <li><a href="#">Community</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="container">
            {% block content %}{% endblock %}
        </main>
        {% block extra_js %}{% endblock %}
    </body>
</html>